# .gitignore creado por GitDevCore

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Entornos virtuales
venv/
.venv/
env/
.env

# Build
dist/
build/

# Editores
.idea/
.vscode/

# SO
.DS_Store
Thumbs.db
